.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  z-index: 1001;

}

.login-card {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  color: #000;
  text-align: center;
  z-index: 1000;
}

.login-title {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #003366;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container .icon {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #666;
}

.input-container input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.login-button {
  padding: 14px;
  width: 100%;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0055aa;
}

/* Subtext */
.login-subtext {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.create-account {
  font-weight: bold;
  color: #003366;
  cursor: pointer;
  margin-top: 5px;
}

.modal-overlay {
  display: none;
}
